<h1>Employee Master</h1>

<table *ngIf="loaded else loading">
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.code}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.dept}}</td>
        <td>{{employee.desg}}</td>
        <td>{{employee.sal}}</td>
    </tr>
</table>
<ng-template #loading>
    <h1>loading....</h1>
</ng-template>