<h1>Welcome to Angular JS</h1>
<!--
<app-datatypes></app-datatypes>
<app-test></app-test>
<app-testnew></app-testnew>
<app-employee></app-employee>
<app-customer></app-customer>
<app-databinding></app-databinding>
<app-simpleinterest></app-simpleinterest>
<app-simplecalculator></app-simplecalculator>
<app-switchdemo></app-switchdemo>
<app-styledemo></app-styledemo>
<app-classdemo></app-classdemo>
<app-templateform></app-templateform>
<app-employeetemplateform></app-employeetemplateform>
<app-corona></app-corona>

<app-todos></app-todos>
<app-posts></app-posts>
-->
<app-child></app-child>
<app-parent></app-parent>
<app-company></app-company>
<app-companies></app-companies>
<app-pipes></app-pipes>
<router-outlet></router-outlet>
