<h1>Sign-Up Form</h1>

<form #signup="ngForm" (ngSubmit)="register(signup)">
    <label>Name</label><br>
    <input type="text" name="name" id="name" ngModel required #fullname="ngModel"><br>
    <p *ngIf="fullname.touched && !fullname.valid" [ngStyle]="{'color':'red'}">Name is Mandatory</p>
    <label>Email</label><br>
    <input type="email" name="email" id="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
    #emailCtrl="ngModel"><br>
    <p *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']">Email is mandatory</p>
    <p *ngIf="emailCtrl.errors && emailCtrl.errors?.['email'] && emailCtrl.touched">Email Address should be valid</p>
    <p *ngIf="emailCtrl.errors && emailCtrl.errors?.['pattern'] && emailCtrl.touched">Email pattern should be valid</p>
    <label>Mobile</label><br>
    <input type="mobile" name="mobile" id="mobile" ngModel required><br>
    <label>Password</label><br>
    <input type="password" name="password" id="password" ngModel required><br>
    <input type="submit" value="Sign Up">
   
</form>
<br>
<!--
<p>Form element status {{signup.value | json}}</p>
<p>Name {{fullname.value}}</p>
-->
<div *ngIf="regUsers.length>0">
<h1>Registered Users</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Password</th>
    </tr>

    <tr *ngFor="let user of regUsers">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.password}}</td>
    </tr>

</table>
</div>